<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RosterQuiz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D517D1BE1D04FC5600B6FDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D517D1D41D04FC5700B6FDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D517D1DF1D04FC5700B6FDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
